/* Base styles */
body {
  background-color: lightgray;
}

ul {
  padding: 0 40px;
}

li {
  list-style-type: none;
}

a,
a:hover{
  text-decoration: none;
  color: #007edf;
}

a:focus {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

/* Helpers */
.is-hidden {
  display: none;
}
