a {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  color: #007edf;
  background-color: #fff;
  width: 100%;
}

a:hover {
  color: #fff;
  background-color: #007edf;
}

li {
  position: relative;
  display: block;
  border-color: #000;
  border-style: solid;
  border-width: 1px 0 0 0;
  width: 100%;
  text-align: center;
}

li:first-child {
  border-width: 0;
}

.menu {
  white-space: nowrap;
  position: absolute;
}

.menu__trigger {
  display: inline-block;
  padding: 10px 20px;
}

.menu__item.is-open > .menu__trigger {
  color: #fff;
  background-color: #000;
}

.menu__content {
  position: absolute;
  display: none;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  left: 100%;
  top: 0;
}

.menu__content > .menu__item > .menu__trigger {
  display: inline-block;
  padding: 5px 15px;
}
